body{
    background-color: 	rgba(238, 190, 198, 0.694);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    color: rgb(101, 93, 93);
    font-family:poppins;
    font-size: small
}

p{
    color: rgb(92, 90, 90);
}

main{
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#image-div{
    display: flex;
    flex-direction: row;

}

img{
    border-radius: 10px;
    width: 100%;
}

#recipe-div h1{
    color: black;
}

#preperation-div{
    background-color: rgba(233, 123, 138, 0.087);
    border-radius: 5px;
}

#preperation-container{
    padding: 10px;
}

.preperation-container-content-heading{
    color: rgba(111, 20, 79, 0.9);
    margin-right: 5px;
    font-weight: 800;

}

#preperation-container-heading{
    color: rgba(111, 20, 79, 0.9);
    font-size:larger;
    font-weight: 900;
}

h1{
    color: brown;
}



.instruction-container-content-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.marker{
    font-family: sans-serif;
    color: brown;
    font-size: large;
    font-weight: 600;
    margin-right: 20px;
}

.topic{
    color: rgb(55, 53, 53);
    font-weight: 700;
}

.point{
}

.nutrition-container-content-item{
    
}

.item-value{
    display: flex;
    flex-direction: row;
    /* gap:300px; */
    padding:10px 0px 10px 20px;
}

.item{
    width: 30%;
    color: rgb(120, 117, 117);
    text-align: center;
}

.value{
    width: 50%;
    text-align: center;
    color: brown;
}